<div class="row mt-5">

<div class="col-md-4">
  <img class="img-responsive center-block" src="{{user.image}}" style="width: 250px;margin-bottom: 25px;" alt="avatar">
</div>

<div class="col-md-8">
<h1>{{profile.name}}</h1>
<p>{{profile.email}}</p>
<p>{{commentCount}} 則已評論餐廳</p>
{{#ifCond user.id profile.id}}
<a href="/users/{{user.id}}/edit">edit</a>
{{/ifCond}}
</div>

</div>

<div>

<div>
  <h4>{{commentCount}} 則已評論餐廳</h4>
</div>
<div class="row">
  {{#each commentRestaurant}}
    <a href="/restaurants/{{this.RestaurantId}}" class="ml-2">
      <img src="{{this.Restaurant.image}}" style="width: 70px;">
    </a>
  {{/each}}
</div>
</div>